<?xml version="1.0" ?>
<plist version="1.0">
	<dict>
		<key>actionKeyMappings</key>
		<dict>
			<key>1pDown</key>
			<array>
				<integer>1048610</integer>
				<integer>2097186</integer>
			</array>
			<key>1pKickHeavy</key>
			<array>
				<integer>1048587</integer>
				<integer>2097161</integer>
			</array>
			<key>1pKickLight</key>
			<array>
				<integer>1048576</integer>
				<integer>2097152</integer>
			</array>
			<key>1pKickMedium</key>
			<array>
				<integer>1048577</integer>
				<integer>2097153</integer>
			</array>
			<key>1pLeft</key>
			<array>
				<integer>1048608</integer>
				<integer>2097184</integer>
			</array>
			<key>1pPunchHeavy</key>
			<array>
				<integer>1048585</integer>
				<integer>2097160</integer>
			</array>
			<key>1pPunchLight</key>
			<array>
				<integer>1048579</integer>
				<integer>2097155</integer>
			</array>
			<key>1pPunchMedium</key>
			<array>
				<integer>1048578</integer>
				<integer>2097154</integer>
			</array>
			<key>1pRight</key>
			<array>
				<integer>1048609</integer>
				<integer>2097185</integer>
			</array>
			<key>1pStart</key>
			<array>
				<integer>1048590</integer>
				<integer>2097166</integer>
			</array>
			<key>1pUp</key>
			<array>
				<integer>1048611</integer>
				<integer>2097187</integer>
			</array>
			<key>2pDown</key>
			<array>
				<integer>17825826</integer>
				<integer>18874402</integer>
			</array>
			<key>2pKickHeavy</key>
			<array>
				<integer>17825801</integer>
				<integer>18874377</integer>
			</array>
			<key>2pKickLight</key>
			<array>
				<integer>17825792</integer>
				<integer>18874368</integer>
			</array>
			<key>2pKickMedium</key>
			<array>
				<integer>17825793</integer>
				<integer>18874369</integer>
			</array>
			<key>2pLeft</key>
			<array>
				<integer>17825824</integer>
				<integer>18874400</integer>
			</array>
			<key>2pPunchHeavy</key>
			<array>
				<integer>17825800</integer>
				<integer>18874376</integer>
			</array>
			<key>2pPunchLight</key>
			<array>
				<integer>17825795</integer>
				<integer>18874371</integer>
			</array>
			<key>2pPunchMedium</key>
			<array>
				<integer>17825794</integer>
				<integer>18874370</integer>
			</array>
			<key>2pRight</key>
			<array>
				<integer>17825825</integer>
				<integer>18874401</integer>
			</array>
			<key>2pStart</key>
			<array>
				<integer>17825806</integer>
				<integer>18874382</integer>
			</array>
			<key>2pUp</key>
			<array>
				<integer>17825827</integer>
				<integer>18874403</integer>
			</array>
			<key>down</key>
			<array>
				<integer>1048610</integer>
				<integer>2097186</integer>
			</array>
			<key>left</key>
			<array>
				<integer>1048608</integer>
				<integer>2097184</integer>
			</array>
			<key>negative</key>
			<array>
				<integer>1048576</integer>
				<integer>2097152</integer>
			</array>
			<key>pageLeft</key>
			<array>
				<integer>1048584</integer>
				<integer>2097160</integer>
			</array>
			<key>pageRight</key>
			<array>
				<integer>1048585</integer>
				<integer>2097161</integer>
			</array>
			<key>pause</key>
			<array>
				<integer>1048591</integer>
				<integer>2097167</integer>
			</array>
			<key>positive</key>
			<array>
				<integer>1048577</integer>
				<integer>2097153</integer>
			</array>
			<key>right</key>
			<array>
				<integer>1048609</integer>
				<integer>2097185</integer>
			</array>
			<key>secondary</key>
			<array>
				<integer>1048579</integer>
				<integer>2097155</integer>
			</array>
			<key>tertiary</key>
			<array>
				<integer>1048578</integer>
				<integer>2097154</integer>
			</array>
			<key>trainingPlayback</key>
			<array>
				<integer>1048584</integer>
			</array>
			<key>trainingRecord</key>
			<array>
				<integer>1048586</integer>
			</array>
			<key>up</key>
			<array>
				<integer>1048611</integer>
				<integer>2097187</integer>
			</array>
			<key>zoomIn</key>
			<array>
				<integer>1048585</integer>
				<integer>2097161</integer>
			</array>
			<key>zoomOut</key>
			<array>
				<integer>1048584</integer>
				<integer>2097160</integer>
			</array>
		</dict>
		<key>allowLocaleOverride</key>
		<false />
		<key>borderEnabled</key>
		<false />
		<key>filterMode</key>
		<integer>0</integer>
		<key>gameChallengerFrequency</key>
		<string>300.0</string>
		<key>gameFilter</key>
		<string>ARCADE</string>
		<key>gameHandicap</key>
		<string>YES</string>
		<key>gameRounds</key>
		<integer>3</integer>
		<key>gameSpeed</key>
		<integer>4</integer>
		<key>gameTimeLimit</key>
		<integer>99</integer>
		<key>language</key>
		<string>zh-cn</string>
		<key>loaded</key>
		<true />
		<key>localOnlineInputLag</key>
		<string>3</string>
		<key>localOnlinePrivateLobbySlots</key>
		<string>0</string>
		<key>musicVolume</key>
		<string>9</string>
		<key>onlineConnectionQuality</key>
		<string>1</string>
		<key>onlineDifficulty</key>
		<string>1</string>
		<key>onlineInputLag</key>
		<string>3</string>
		<key>onlinePrivateLobbySlots</key>
		<string>0</string>
		<key>patch_version</key>
		<integer>1</integer>
		<key>screenMode</key>
		<integer>1</integer>
		<key>sf1AttractMusic</key>
		<string>ON</string>
		<key>sf1BuyIn</key>
		<string>5TH STAGE MAX</string>
		<key>sf1CoinA</key>
		<string>1 COIN 1 CREDIT</string>
		<key>sf1CoinB</key>
		<string>1 COIN 1 CREDIT</string>
		<key>sf1Continuation</key>
		<string>5TH STAGE MAX</string>
		<key>sf1Countries</key>
		<string>2</string>
		<key>sf1DemoSound</key>
		<string>ON</string>
		<key>sf1Difficulty</key>
		<string>2</string>
		<key>sf1Speed</key>
		<string>NORMAL</string>
		<key>sf1TimeLimit</key>
		<string>100</string>
		<key>sf1VersusTimerSpeed</key>
		<string>0</string>
		<key>sf22CoinsStart1Continue</key>
		<string>OFF</string>
		<key>sf2Continue</key>
		<string>ON</string>
		<key>sf2DemoSound</key>
		<string>ON</string>
		<key>sf2Difficulty</key>
		<string>3</string>
		<key>sf2FreePlay</key>
		<string>ON</string>
		<key>sf2GameMode</key>
		<string>GAME</string>
		<key>sf2VersusRoundCount</key>
		<string>3</string>
		<key>sf2VersusTimerSpeed</key>
		<string>0</string>
		<key>sf2ce2CoinsStart1Continue</key>
		<string>OFF</string>
		<key>sf2ceContinue</key>
		<string>ON</string>
		<key>sf2ceDemoSound</key>
		<string>ON</string>
		<key>sf2ceDifficulty</key>
		<string>3</string>
		<key>sf2ceFreePlay</key>
		<string>ON</string>
		<key>sf2ceGameMode</key>
		<string>GAME</string>
		<key>sf2ceVersusRoundCount</key>
		<string>3</string>
		<key>sf2ceVersusTimerSpeed</key>
		<string>0</string>
		<key>sf2hf2CoinsStart1Continue</key>
		<string>OFF</string>
		<key>sf2hfContinue</key>
		<string>ON</string>
		<key>sf2hfDemoSound</key>
		<string>ON</string>
		<key>sf2hfDifficulty</key>
		<string>3</string>
		<key>sf2hfFreePlay</key>
		<string>ON</string>
		<key>sf2hfGameMode</key>
		<string>GAME</string>
		<key>sf2hfTrainingDummyAction</key>
		<string>0</string>
		<key>sf2hfTrainingDummyGuard</key>
		<string>0</string>
		<key>sf2hfTrainingDummyMode</key>
		<string>0</string>
		<key>sf2hfTrainingDummyStun</key>
		<string>0</string>
		<key>sf2hfTrainingHealth1P</key>
		<string>0</string>
		<key>sf2hfTrainingHealth2P</key>
		<string>0</string>
		<key>sf2hfVersusRoundCount</key>
		<string>3</string>
		<key>sf2hfVersusTimerSpeed</key>
		<string>0</string>
		<key>sf3ChuteType</key>
		<string>2 PLAYERS 2 CHUTES SINGLE</string>
		<key>sf3CoinMode</key>
		<string>FREE PLAY</string>
		<key>sf3Continue</key>
		<string>ON</string>
		<key>sf3DamageLevel</key>
		<string>2</string>
		<key>sf3DemoSound</key>
		<string>ON</string>
		<key>sf3Difficulty</key>
		<string>3</string>
		<key>sf3Event</key>
		<string>OFF</string>
		<key>sf3MaxRound</key>
		<string>3 ROUNDS</string>
		<key>sf3SoundMode</key>
		<string>STEREO</string>
		<key>sf3TimerSpeed</key>
		<string>2</string>
		<key>sf3VersusRoundCount</key>
		<string>3</string>
		<key>sf3VersusTimerSpeed</key>
		<string>0</string>
		<key>sf3siAkumaPlayable</key>
		<string>ON</string>
		<key>sf3siBonusGame</key>
		<string>ON</string>
		<key>sf3siChuteType</key>
		<string>2 PLAYERS 2 CHUTES SINGLE</string>
		<key>sf3siCoinMode</key>
		<string>FREE PLAY</string>
		<key>sf3siContinue</key>
		<string>ON</string>
		<key>sf3siDamageLevel</key>
		<string>2</string>
		<key>sf3siDemoSound</key>
		<string>ON</string>
		<key>sf3siDifficulty</key>
		<string>3</string>
		<key>sf3siEvent</key>
		<string>OFF</string>
		<key>sf3siMaxRound</key>
		<string>3 ROUNDS</string>
		<key>sf3siScreenMode</key>
		<string>str_options_screen_normal</string>
		<key>sf3siSoundMode</key>
		<string>STEREO</string>
		<key>sf3siTimerSpeed</key>
		<string>2</string>
		<key>sf3siVersusRoundCount</key>
		<string>3</string>
		<key>sf3siVersusTimerSpeed</key>
		<string>0</string>
		<key>sf3ts1PMaxRound</key>
		<string>3 ROUNDS</string>
		<key>sf3ts2PMaxRound</key>
		<string>3 ROUNDS</string>
		<key>sf3tsBonusGame</key>
		<string>ON</string>
		<key>sf3tsChuteType</key>
		<string>2 PLAYERS 2 CHUTES SINGLE</string>
		<key>sf3tsCoinMode</key>
		<string>FREE PLAY</string>
		<key>sf3tsContinue</key>
		<string>ON</string>
		<key>sf3tsDamageLevel</key>
		<string>2</string>
		<key>sf3tsDemoSound</key>
		<string>ON</string>
		<key>sf3tsDifficulty</key>
		<string>3</string>
		<key>sf3tsEvent</key>
		<string>OFF</string>
		<key>sf3tsScreenMode</key>
		<string>NORMAL</string>
		<key>sf3tsSoundMode</key>
		<string>JAMMA</string>
		<key>sf3tsTimerSpeed</key>
		<string>2</string>
		<key>sf3tsTrainingDummyAction</key>
		<string>0</string>
		<key>sf3tsTrainingDummyGuard</key>
		<string>0</string>
		<key>sf3tsTrainingDummyMode</key>
		<string>0</string>
		<key>sf3tsTrainingDummyParry</key>
		<string>0</string>
		<key>sf3tsTrainingDummyRecovery</key>
		<string>0</string>
		<key>sf3tsTrainingDummyStun</key>
		<string>0</string>
		<key>sf3tsTrainingHealth1P</key>
		<string>0</string>
		<key>sf3tsTrainingHealth2P</key>
		<string>0</string>
		<key>sf3tsTrainingSuperArtLevel1P</key>
		<string>99</string>
		<key>sf3tsTrainingSuperArtLevel2P</key>
		<string>99</string>
		<key>sf3tsTrainingSuperArtMeter1P</key>
		<string>0</string>
		<key>sf3tsTrainingSuperArtMeter2P</key>
		<string>0</string>
		<key>sf3tsVersusRoundCount</key>
		<string>3</string>
		<key>sf3tsVersusTimerSpeed</key>
		<string>0</string>
		<key>sfa2Automatic</key>
		<string>str_off</string>
		<key>sfa2ChuteType</key>
		<string>2 CHUTES SINGLE</string>
		<key>sfa2CoinMode</key>
		<string>FREE PLAY</string>
		<key>sfa2Continue</key>
		<string>ON</string>
		<key>sfa2DamageLevel</key>
		<string>3</string>
		<key>sfa2DemoSound</key>
		<string>ON</string>
		<key>sfa2Difficulty</key>
		<string>2</string>
		<key>sfa2Event</key>
		<string>OFF</string>
		<key>sfa2GameSpeed</key>
		<string>2</string>
		<key>sfa2MaxRound</key>
		<string>3 ROUND</string>
		<key>sfa2SoundMode</key>
		<string>STEREO</string>
		<key>sfa2TimerSpeed</key>
		<string>1</string>
		<key>sfa2VersusRoundCount</key>
		<string>2</string>
		<key>sfa2VersusTimerSpeed</key>
		<string>0</string>
		<key>sfa31PMaxRound</key>
		<string>3 ROUND</string>
		<key>sfa32PMaxRound</key>
		<string>3 ROUND</string>
		<key>sfa3ChuteType</key>
		<string>2 CHUTES SINGLE</string>
		<key>sfa3CoinMode</key>
		<string>FREE PLAY</string>
		<key>sfa3Continue</key>
		<string>ON</string>
		<key>sfa3DamageLevel</key>
		<string>2</string>
		<key>sfa3DemoSound</key>
		<string>ON</string>
		<key>sfa3Difficulty</key>
		<string>5</string>
		<key>sfa3Event</key>
		<string>OFF</string>
		<key>sfa3GameSpeed</key>
		<string>2</string>
		<key>sfa3JoinIn</key>
		<string>ON</string>
		<key>sfa3Regulation</key>
		<string>ON</string>
		<key>sfa3SecretLevel</key>
		<string>4 - BLUE</string>
		<key>sfa3SoundMode</key>
		<string>STEREO</string>
		<key>sfa3TimerSpeed</key>
		<string>2</string>
		<key>sfa3TrainingDummyAction</key>
		<string>0</string>
		<key>sfa3TrainingDummyAirRecovery</key>
		<string>0</string>
		<key>sfa3TrainingDummyCounter</key>
		<string>0</string>
		<key>sfa3TrainingDummyGroundRecovery</key>
		<string>0</string>
		<key>sfa3TrainingDummyGuard</key>
		<string>0</string>
		<key>sfa3TrainingDummyMode</key>
		<string>0</string>
		<key>sfa3TrainingDummyStun</key>
		<string>0</string>
		<key>sfa3TrainingGuardLevel1P</key>
		<string>0</string>
		<key>sfa3TrainingGuardLevel2P</key>
		<string>0</string>
		<key>sfa3TrainingGuardMeter1P</key>
		<string>0</string>
		<key>sfa3TrainingGuardMeter2P</key>
		<string>0</string>
		<key>sfa3TrainingHealth1P</key>
		<string>0</string>
		<key>sfa3TrainingHealth2P</key>
		<string>0</string>
		<key>sfa3TrainingSuperComboLevel1P</key>
		<string>2</string>
		<key>sfa3TrainingSuperComboLevel2P</key>
		<string>2</string>
		<key>sfa3TrainingSuperComboMeter1P</key>
		<string>0</string>
		<key>sfa3TrainingSuperComboMeter2P</key>
		<string>0</string>
		<key>sfa3TrainingTimingGuard</key>
		<string>3</string>
		<key>sfa3VersusRoundCount</key>
		<string>1</string>
		<key>sfa3VersusTimerSpeed</key>
		<string>0</string>
		<key>sfaAutomatic</key>
		<string>str_off</string>
		<key>sfaChuteType</key>
		<string>2 CHUTES SINGLE</string>
		<key>sfaCoinMode</key>
		<string>FREE PLAY</string>
		<key>sfaContinue</key>
		<string>ON</string>
		<key>sfaDamageLevel</key>
		<string>2</string>
		<key>sfaDemoSound</key>
		<string>ON</string>
		<key>sfaDifficulty</key>
		<string>2</string>
		<key>sfaEvent</key>
		<string>OFF</string>
		<key>sfaGameSpeed</key>
		<string>1</string>
		<key>sfaMaxRound</key>
		<string>3 ROUND</string>
		<key>sfaSoundMode</key>
		<string>STEREO</string>
		<key>sfaTimerSpeed</key>
		<string>2</string>
		<key>sfaVersusRoundCount</key>
		<string>2</string>
		<key>sfaVersusTimerSpeed</key>
		<string>0</string>
		<key>soundEffectVolume</key>
		<string>9</string>
		<key>ssf2CoinMode</key>
		<string>FREE PLAY</string>
		<key>ssf2Continue</key>
		<string>ON</string>
		<key>ssf2DemoSound</key>
		<string>ON</string>
		<key>ssf2Difficulty</key>
		<string>5</string>
		<key>ssf2SoundMode</key>
		<string>STEREO</string>
		<key>ssf2StartMode</key>
		<string>OFF</string>
		<key>ssf2VersusRoundCount</key>
		<string>3</string>
		<key>ssf2VersusTimerSpeed</key>
		<string>0</string>
		<key>ssf2tCoinMode</key>
		<string>FREE PLAY</string>
		<key>ssf2tContinue</key>
		<string>ON</string>
		<key>ssf2tDemoSound</key>
		<string>ON</string>
		<key>ssf2tDifficulty</key>
		<string>4</string>
		<key>ssf2tGameSpeed</key>
		<string>1</string>
		<key>ssf2tSoundMode</key>
		<string>STEREO</string>
		<key>ssf2tStartMode</key>
		<string>OFF</string>
		<key>ssf2tTrainingDummyAction</key>
		<string>0</string>
		<key>ssf2tTrainingDummyGuard</key>
		<string>0</string>
		<key>ssf2tTrainingDummyMode</key>
		<string>0</string>
		<key>ssf2tTrainingDummyRecovery</key>
		<string>-1</string>
		<key>ssf2tTrainingDummyStun</key>
		<string>0</string>
		<key>ssf2tTrainingHealth1P</key>
		<string>0</string>
		<key>ssf2tTrainingHealth2P</key>
		<string>0</string>
		<key>ssf2tTrainingSuperComboMeter1P</key>
		<string>0</string>
		<key>ssf2tTrainingSuperComboMeter2P</key>
		<string>0</string>
		<key>ssf2tVersusRoundCount</key>
		<string>3</string>
		<key>ssf2tVersusTimerSpeed</key>
		<string>0</string>
		<key>ssf2teCoinChuter</key>
		<string>1 CHUTER</string>
		<key>ssf2teCoinMode</key>
		<string>FREE PLAY</string>
		<key>ssf2teContinue</key>
		<string>ON</string>
		<key>ssf2teDemoSound</key>
		<string>ON</string>
		<key>ssf2teDifficulty</key>
		<string>4</string>
		<key>ssf2teExtendPlay</key>
		<string>3</string>
		<key>ssf2teSoundMode</key>
		<string>STEREO</string>
		<key>ssf2teStartMode</key>
		<string>OFF</string>
		<key>ssf2teTournament</key>
		<string>ON</string>
		<key>trainingDisplayAttack</key>
		<string>str_training_off</string>
		<key>trainingDisplayInput</key>
		<string>str_training_off</string>
		<key>useFullScreen</key>
		<string>true</string>
		<key>useVSync</key>
		<string>true</string>
	</dict>
</plist>
