# bbbbzhang
# 录音
# AweSun Files
# BioshockHD
# BotaniculaSaves
# Bully Scholarship Edition
# CAPCOM
# Flower
# FromSoftware
# Games
# Ghost of Tsushima DIRECTOR'S CUT
# Horizon Forbidden West Complete Edition
# Horizon Zero Dawn Remastered
# KingsoftData
# Klei
# KoeiTecmo
# Max Payne 2 Savegames
# Max Payne Savegames
# MGR

# # 八方旅人1存档，无游戏设置
# My Games/**
# !My Games/Octopath_Traveler/
# !My Games/Octopath_Traveler/76561197960267366/
# !My Games/Octopath_Traveler/76561197960267366/SaveData0.sav
# !My Games/Octopath_Traveler/76561197960267366/SaveData1.sav

# # 八方旅人2存档，无游戏设置
# !My Games/Octopath_Traveler2/
# !My Games/Octopath_Traveler2/76561198312822366/
# !My Games/Octopath_Traveler2/76561198312822366/SaveData0.sav
# !My Games/Octopath_Traveler2/76561198312822366/SaveData1.sav

# My Music
# My Pictures
# My Videos
# SavedGames
# NBGI
# Player
# Ratchet & Clank - Rift Apart
# Remedy
# Rockstar Games
# sgs_configs
# SQUARE ENIX
# Streets of Rage 4 Save and Config
# Sunlogin Files
# Tencent Files
# TencentMeeting
# The Last of Us Part II
# The Witcher 3
# Tribute Games
# WeChat Files
# wps
# WPS Cloud Files
# WPSDrive
# WXWork
# xwechat_files
# desktop.ini

A 快捷方式
Apks
Comics
DEVs/**
!DEVs/笔记/
!DEVs/笔记/**
# Emulators
# GameTools/
Emulators/BlastEm
Emulators/Cemu
Emulators/Citra
Emulators/DeSmuME
Emulators/Dolphin
Emulators/Eden
Emulators/FBneo
Emulators/melonDS
Emulators/Mesen
Emulators/mGBA
Emulators/VisualBoyAdvance-M
Emulators/DuckStation/**
!Emulators/DuckStation/memcards/
!Emulators/DuckStation/memcards/**
!Emulators/DuckStation/savestates/
!Emulators/DuckStation/savestates/**
Emulators/PCSX2
Emulators/PPSSPP
Emulators/RetroArch/**
# RA 列表
# !Emulators/RetroArch/playlists
# !Emulators/RetroArch/playlists/**
# Emulators/RetroArch/playlists/logs
# RA saves存档
!Emulators/RetroArch/saves/
!Emulators/RetroArch/saves/**
Emulators/RetroArch/saves/Beetle PCE
Emulators/RetroArch/saves/Beetle PCE Fast
Emulators/RetroArch/saves/Beetle SuperGrafx
Emulators/RetroArch/saves/Citra
# NDS存档
!Emulators/RetroArch/saves/DeSmuME
Emulators/RetroArch/saves/dolphin-emu
Emulators/RetroArch/saves/FB Alpha
Emulators/RetroArch/saves/FB Alpha 2012
Emulators/RetroArch/saves/FinalBurn Neo
Emulators/RetroArch/saves/Flycast
Emulators/RetroArch/saves/Genesis Plus GX
Emulators/RetroArch/saves/LRPS2 (alpha)
# NDS存档
!Emulators/RetroArch/saves/melonDS
Emulators/RetroArch/saves/Mesen
Emulators/RetroArch/saves/Mesen-S
Emulators/RetroArch/saves/Mupen64Plus-Next
Emulators/RetroArch/saves/ParaLLEl N64
Emulators/RetroArch/saves/PPSSPP
# PS1存档
!Emulators/RetroArch/saves/SwanStation
# GBA存档
!Emulators/RetroArch/saves/VBA-M
Emulators/RetroArch/saves/YabaSanshiro
# RA states存档
!Emulators/RetroArch/states/
!Emulators/RetroArch/states/**
Emulators/RetroArch/states/Beetle PCE
Emulators/RetroArch/states/Beetle PCE Fast
Emulators/RetroArch/states/Beetle SuperGrafx
Emulators/RetroArch/states/Citra
# NDS即时存档
!Emulators/RetroArch/states/DeSmuME
Emulators/RetroArch/states/dolphin-emu
Emulators/RetroArch/states/FB Alpha
Emulators/RetroArch/states/FB Alpha 2012
Emulators/RetroArch/states/FinalBurn Neo
Emulators/RetroArch/states/Flycast
Emulators/RetroArch/states/Genesis Plus GX
Emulators/RetroArch/states/LRPS2 (alpha)
# NDS即时存档
!Emulators/RetroArch/states/melonDS
Emulators/RetroArch/states/Mesen
Emulators/RetroArch/states/Mesen-S
Emulators/RetroArch/states/Mupen64Plus-Next
Emulators/RetroArch/states/ParaLLEl N64
Emulators/RetroArch/states/PPSSPP
# PS1即时存档
!Emulators/RetroArch/states/SwanStation
# GBA即时存档
!Emulators/RetroArch/states/VBA-M
Emulators/RetroArch/states/YabaSanshiro


Emulators/RPCS3
Emulators/shadPS4

# YUZU存档托管
Emulators/YUZU/**
!Emulators/YUZU/user/
!Emulators/YUZU/user/nand/
!Emulators/YUZU/user/nand/user/
!Emulators/YUZU/user/nand/user/save
!Emulators/YUZU/user/nand/user/save/0000000000000000
!Emulators/YUZU/user/nand/user/save/0000000000000000/DA3F41FF0AC395138D33B06126DE1871
!Emulators/YUZU/user/nand/user/save/0000000000000000/DA3F41FF0AC395138D33B06126DE1871/**

Emulators/Z Other EMU


GameTools/00.PC Game Tools
GameTools/01.Console Game Tools/00.Emulators Config/RetroArch/RA设置备份/Windows/saves
GameTools/01.Console Game Tools/00.Emulators Config/RetroArch/RA设置备份/Windows/states
GameTools/01.Console Game Tools/00.Emulators Config/RetroArch/RA设置备份/Windows/system
GameTools/01.Console Game Tools/00.Emulators Config/RetroArch/RA设置备份/Windows/system.rar
GameTools/01.Console Game Tools/3DO
GameTools/01.Console Game Tools/FBN
GameTools/01.Console Game Tools/GBA
GameTools/01.Console Game Tools/MD
GameTools/01.Console Game Tools/Mega CD
GameTools/01.Console Game Tools/N3DS
GameTools/01.Console Game Tools/NDS
GameTools/01.Console Game Tools/NES
GameTools/01.Console Game Tools/NS
GameTools/01.Console Game Tools/PCE
GameTools/01.Console Game Tools/PS1
GameTools/01.Console Game Tools/PS2
GameTools/01.Console Game Tools/PS3
GameTools/01.Console Game Tools/PSN
GameTools/01.Console Game Tools/PSP
GameTools/01.Console Game Tools/WII
GameTools/01.Console Game Tools/SNES
GameTools/01.Console Game Tools/SS
GameTools/01.Console Game Tools/WIIU
GameTools/02.Game Guide

Musics
Life.md
OS
Packages
Pictures
ProgramFiles
ROMs
Txts
Videos
Widgets
Works
Z Other
# 临时
微信备份

