<?xml version="1.0" encoding="utf-16"?><Data xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><maxMilestone>1</maxMilestone><volume><float>0.9</float><float>1</float></volume><pingEnable>true</pingEnable><joystickSpeed>1000</joystickSpeed><demoStatus>1</demoStatus><language>UNKNOWN</language></Data>